<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="personel_kayıt_programı.Properties.Settings.Personel_Veri_TabaniConnectionString"
            connectionString="Data Source=DESKTOP-QD4IO9E\SQLEXPRESS;Initial Catalog=Personel_Veri_Tabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>